<%- include ("partials/header") %>
    <main>
        <div class="container-edit">
            <h1 class="title"><span class="light">Shift</span> Tracker</h1>
            <div class="edit-text">
                <p class="light">
                    Edit your shift for
                    <strong><%= month.month %> <%= shift.date %></strong>
                </p>
            </div>

            <form class="edit-form" action="/<%= month._id%>/shift/<%= shift._id %>?_method=put" method="POST" autocomplete="off">
                <div class="form-group">
                    <label for="start-time">Start time?</label>
                    <input pattern="\d{2}\s:\s\d{2}" class="top-inputs time" name="startTime" type="text" value="<%= functions.spacer(shift.startTime) %>" required />
                </div>
                <div class="form-group">
                    <label for="end-time">Finish time?</label>
                    <input pattern="\d{2}\s:\s\d{2}" class="top-inputs time" name="endTime" type="text" value="<%= functions.spacer(shift.finishTime) %>" required />
                </div>
                <div class="form-group">
                    <label for="lunch-time">Lunch time?</label>
                    <input pattern="\d{2}\s:\s\d{2}" class="top-inputs lunchTime" name="lunchTime" type="text" value="<%= functions.spacer(shift.lunchTime) %>" required />
                </div>
                <div class="form-group submit">
                    <input class="top-inputs button" value="Submit" type="submit" />
                </div>
            </form>
            <a class="back" href="/<%=month._id%>">Back</a>
        </div>
    </main>
    <%- include("partials/footer") %>