<%- include("partials/header") %>
    <div class="container">
        <h1 class="title">
            <span class="light">Hours</span> Calculator
        </h1>
        <h4>Edit your shift for
            <%= month.month %>
                <%= shift.date %>
        </h4>
        <form action="/<%= month._id%>/shift/<%= shift._id %>?_method=put" method="POST" autocomplete="off">
            <div class="form-group">
                <label for="start-time">When did you start?</label>
                <input class="top-inputs" value="<%=shift.startTime%>" step="any" min="0" max="23" type="time" id="start-time" name="startTime" required>
            </div>
            <div class="form-group">
                <label for="start-time">When did you finish?</label>
                <input class="top-inputs" value="<%=shift.finishTime%>" step="any" min="0" max="23" type="time" name="endTime" required>
            </div>
            <div class="form-group">
                <input class="top-inputs" value="<%=shift.lunchTime%>" step="any" min="0" max="23" type="number" name="lunchTime" required>
                <input class="top-inputs" value="<%=shift.date%>" step="any" min="0" max="23" type="number" name="date" required>
            </div>
            <div class="form-group">
                <input class="top-inputs button" type="submit">
            </div>
        </form>
        <button><a href="/<%=month._id%>">Back</a></button>
    </div>



    <%- include("partials/footer") %>