<%- include("partials/header") %>
    <h1>
        Hours Calculator</h1>
    <form action="/" method="POST">
        <input step="any" min="0" max="23" type="number" name="startTime" placeholder="What time did you start?" required>
        <input step="any" min="0" max="23" type="number" name="endTime" placeholder="What time did you finish?" required>
        <input step="any" min="0" max="23" type="number" name="lunchTime" placeholder="How long was lunch?" required>
        <button>Add Hours</button>
    </form>
    <main>
        <div class="container">
            <form action="/form2" method="POST">
                <select name="months" id="monthSelector" onchange="location = this.value;">
                    <% for (selectedMonth of months) { %>
                        <option value="/<%= selectedMonth._id %>"><%= selectedMonth.month %></option>
                    <% } %>
                </select>
            </form>
            <!-- <select name="months">
            <select name="forma" onchange="location = this.value;">
            <option value="Home.php">Home</option>
            <option value="Contact.php">Contact</option>
            <option value="Sitemap.php">Sitemap</option>
</select>
            </select> -->
            <table class="<%= month %>">
                <tr>
                    <th class="theMonth">
                        <%= month %>
                    </th>
                </tr>
                <tr>
                    <th class="theDay">Day</th>
                    <th>Start Time</th>
                    <th>Finish TIme</th>
                    <th>Lunch (hours)</th>
                    <th>Ttl Hours Worked</th>
                </tr>
                <% let total = 0 %>
                    <% for(let shift of shifts){ %>
                        <tr>
                            <td class="theDay">
                                <%= shift.date %>
                            </td>
                            <td>
                                <%= shift.startTime %>
                            </td>
                            <td>
                                <%= shift.finishTime %>
                            </td>
                            <td>
                                <%= shift.lunchTime %>
                            </td>
                            <td class="totalShiftHours">
                                <%= shift.totalShiftHours %>
                            </td>
                            <% total += shift.totalShiftHours %>
                        </tr>
                        <% } %>

            </table>
            <p>
                Total hours worked:
                <%= total %>
            </p>
        </div>

    </main>
    <%- include("partials/footer") %>