<%- include("partials/header") %>
    <div class="container">
        <h1 class="title">
            <span class="light">Hours</span> Calculator</h1>
        <p>*Please enter all values in 24hour format. Eg. 5pm = 17. </p>
        <form action="/<%= foundMonth._id %>" method="POST" autocomplete="off">
            <div class="form-group">
                <input class="top-inputs" step="any" min="0" max="23" type="time" name="startTime" placeholder="Start Time?" required>
            </div>
            <div class="form-group">
                <input class="top-inputs" step="any" min="0" max="23" type="time" name="endTime" placeholder="Finish Time?" required>
            </div>
            <div class="form-group">
                <input class="top-inputs" step="any" min="0" max="23" type="number" name="lunchTime" placeholder="Time taken for lunch?" required>
            </div>
            <div class="form-group">
                <input class="top-inputs button" type="submit">
            </div>
    </div>
    </form>
    <main>
        <div class="container mt-4">
            <div class="shifts-header">
                <h2 class="month-title">
                    <%= foundMonth.month %>
                </h2>
                <select name="monthList" onchange="location = this.value;">
                    <option selected value="">Choose a month</option>
                    <% for (months of allMonths){ %>
                    <option value="/<%= months._id %>"><%= months.month %></option>
                <% } %>
                </select>
            </div>

            <table>
                <tr class="table-header">
                    <th class="theDay">Day</th>
                    <th>Start Time</th>
                    <th>Finish TIme</th>
                    <th>Lunch (hours)</th>
                    <th>Ttl Hours Worked</th>
                </tr>
                <% let total = 0 %>
                    <% for(let shift of foundMonth.shifts){ %>
                        <tr>
                            <td class="theDay">
                                <%= shift.date %>
                            </td>
                            <td>
                                <%= shift.startTime %>
                            </td>
                            <td>
                                <%= shift.finishTime %>
                            </td>
                            <td>
                                <%= shift.lunchTime %>
                            </td>
                            <td class="totalShiftHours">
                                <%= functions.timeFormatter(shift.totalShiftHours) %>
                            </td>
                            <% total += functions.totalHours(shift.startTime, shift.finishTime, shift.lunchTime) %>
                        </tr>
                        <% } %>

            </table>
            <p class="hours-worked">
                Total hours worked in
                <strong><%= foundMonth.month %>:</strong>
                <%= functions.timeFormatter(total) %>

            </p>
        </div>

    </main>
    </div>
    <%- include("partials/footer") %>

        <%- include("partials/footer") %>