<%- include("partials/header") %>
    <div class="container">
        <h1 class="title">
            <span class="light">Hours</span> Calculator
        </h1>
        <form action="/<%= month._id %>" method="POST" autocomplete="off">
            <div class="form-group">
                <label for="start-time"> When did you start?</label>
                <input class="top-inputs" step="any" min="0" max="23" type="time" id="start-time" name="startTime" required>

            </div>
            <div class="form-group">
                <label for="start-time"> When did you finish?</label>
                <input class="top-inputs" step="any" min="0" max="23" type="time" name="endTime" placeholder="Finish Time?" required>
            </div>
            <div class="form-group">
                <input class="top-inputs" step="any" min="0" max="23" type="number" name="lunchTime" placeholder="Time taken for lunch?" required>
            </div>
            <div class="form-group">
                <input class="top-inputs button" type="submit">
            </div>
        </form>
    </div>
    <main>
        <div class="container mt-4">
            <div class="shifts-header">
                <h2 class="month-title">
                    <%= month.month %>
                </h2>
                <select name="monthList" onchange="location = this.value;">
                    <option selected value="">Choose a month</option>
                    <% for (months of allMonths){ %>
                    <option value="/<%= months._id %>"><%= months.month %></option>
                <% } %>
                </select>
            </div>

            <table>
                <tr class="table-header">
                    <th class="theDay">Day</th>
                    <th>Start Time</th>
                    <th>Finish TIme</th>
                    <th>Lunch (hours)</th>
                    <th>Ttl Hours Worked</th>
                </tr>
                <% let total = 0 %>
                    <% for(let shift of month.shifts){ %>
                        <tr class="table-entries-row">
                            <td class="theDay">
                                <%= shift.date %>
                            </td>
                            <td>
                                <%= shift.startTime %>
                            </td>
                            <td>
                                <%= shift.finishTime %>
                            </td>
                            <td>
                                <%= shift.lunchTime %>
                            </td>
                            <td class="totalShiftHours">
                                <%= functions.timeFormatter(shift.totalShiftHours) %>
                            </td>
                            <% total += functions.totalHours(shift.startTime, shift.finishTime, shift.lunchTime) %>

                                <td class="edit">
                                    <a href="/<%= month._id%>/shift/<%= shift._id%>/edit">
                                        <button type="button"><i class="far fa-edit"></i> Edit</button>
                                    </a>

                                </td>
                                <td class="delete">
                                    <form action="/<%= month._id%>/shift/<%= shift._id%>?_method=DELETE" method="POST">
                                        <button name="_method" href="/<%= month._id%>"><i class="far fa-trash-alt"></i> Delete</button>
                                    </form>
                                </td>

                        </tr>
                        <% } %>

            </table>
            <p class="hours-worked">
                Total hours worked in
                <strong><%= month.month %>:</strong>
                <span class="large-time"><%= functions.timeFormatter(total) %></span>

            </p>
        </div>

    </main>
    </div>
    <%- include("partials/footer") %>