<%- include("partials/header") %>
    <div class="container">
        <h1 class="title">
            <span class="light">Hours</span> Calculator
        </h1>
        <form class="hours-form" action="/<%= month._id %>" method="POST" autocomplete="off">
            <div class="form-group">
                <label for="start-time">Day?<span class="label-light"><br>(Leave blank if today)</span></label>
                <input class="top-inputs" min="0" max="31" type="number" id="start-time" name="date" placeholder="...">
            </div>
            <div class="form-group">
                <label for="start-time">Start time?</label>
                <input class="top-inputs" min="0" max="23" type="time" id="start-time" name="startTime" value=":" required>
            </div>
            <div class="form-group">
                <label for="end-time">Finish time?</label>
                <input class="top-inputs" step="300" min="0" max="23" type="time" id="end-time" name="endTime" value=":" required>
            </div>
            <div class="form-group">
                <label for="lunchTime">Time taken for lunch?<span class="label-light"><br>(01:00 = 1 hour)</span></label>
                <input class="top-inputs" step="300" min="0" max="23" type="time" id="lunch-time" value=":" name="lunchTime" required>
            </div>
            <div class="form-group">
                <input class="top-inputs button" value="Submit" type="submit">
            </div>
        </form>
    </div>
    <main>
        <div class="container">
            <div class="shifts-header">
                <h2 class="month-title">
                    <%= month.month %>
                </h2>
                <select name="monthList" onchange="location = this.value;">
                    <option selected value="">Choose a month</option>
                    <% for (months of allMonths){ %>
                    <option value="/<%= months._id %>"><%= months.month %></option>
                <% } %>
                </select>
            </div>

            <table>
                <tr class="table-header">
                    <th class="theDay">Day</th>
                    <th>Start Time</th>
                    <th>Finish TIme</th>
                    <th>Lunch (hours)</th>
                    <th>Ttl Hours Worked</th>
                </tr>
                <% let total = 0 %>
                    <% for(let shift of month.shifts){ %>
                        <% if (shift.author.id == currentUser.id) { %>
                            <tr class="table-entries-row">
                                <td class="theDay">
                                    <%= shift.date %>
                                </td>
                                <td>
                                    <%= shift.startTime %>
                                </td>
                                <td>
                                    <%= shift.finishTime %>
                                </td>
                                <td>
                                    <%= functions.timeFormatter(shift.lunchTime) %>
                                </td>
                                <td class="totalShiftHours">
                                    <%= functions.timeFormatter(functions.convertToTime(shift.totalShiftHours)) %>
                                </td>
                                <% total += +shift.totalShiftHours%>
                                    <td class="edit">
                                        <a href="/<%= month._id%>/shift/<%= shift._id%>/edit">
                                            <button type="button"><i class="far fa-edit"></i> Edit</button>
                                        </a>

                                    </td>
                                    <td class="delete">
                                        <form action="/<%= month._id%>/shift/<%= shift._id%>?_method=DELETE" method="POST">
                                            <button name="_method" href="/<%= month._id%>"><i class="far fa-trash-alt"></i> Delete</button>
                                        </form>
                                    </td>

                            </tr>
                            <% } %>
                                <% } %>
            </table>
            <p class="hours-worked">
                Total hours worked in
                <strong><%= month.month %>:</strong><br>
                <span class="large-time"><%= functions.timeFormatter(functions.convertToTime(total.toString())) %></span>

            </p>
        </div>

    </main>
    </div>
    <%- include("partials/footer") %>